<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<style>
.carousel-inner > .carousel-item > img {
  min-height : 300px;
  max-height : 300px;
  width : 100%;
}
</style>

<body>

<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/info">INFO</a>
    </li>
  </ul>

  {% block content %}
  {% endblock %}
  
</div>

</body>
</html>
